swagger: '2.0'
info:
  contact:
    email: support@nuon.co
    name: Nuon Support
  description: API for managing nuon apps, components, installs, and actions.
  title: Nuon accounts apps API
  version: 0.19.1074
host: api.nuon.co
basePath: /
schemes:
- https
tags:
- description: apps
  name: apps
paths:
  /v1/apps:
    get:
      consumes:
      - application/json
      description: 'Returns all apps for the authenticated user.

        '
      operationId: GetApps
      parameters:
      - default: 0
        description: offset of jobs to return
        in: query
        name: offset
        type: integer
      - description: search query to filter apps by name or ID
        in: query
        name: q
        type: string
      - default: 10
        description: limit of jobs to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.App'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get all apps for the current org
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: 'Create a new app.

        '
      operationId: CreateApp
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppRequest'
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.App'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app
      tags:
      - apps
  /v1/apps/{app_id}:
    delete:
      consumes:
      - application/json
      description: 'Delete an app.

        '
      operationId: DeleteApp
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.EmptyResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: delete an app
      tags:
      - apps
    get:
      consumes:
      - application/json
      description: 'Return an app.

        '
      operationId: GetApp
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.App'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an app
      tags:
      - apps
    patch:
      consumes:
      - application/json
      description: 'Update an app''s configuration.

        '
      operationId: UpdateApp
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.UpdateAppRequest'
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.App'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: update an app
      tags:
      - apps
  /v1/apps/{app_id}/branches:
    get:
      consumes:
      - application/json
      description: 'Returns all branches for the provided app.

        '
      operationId: GetAppBranches
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: 0
        description: offset of branches to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of branches to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppBranch'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app branches
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: 'Cancel a runner job.

        '
      operationId: CreateAppBranch
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppBranchRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppBranch'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/branches/{app_branch_id}:
    delete:
      consumes:
      - application/json
      description: Deletes an app branch and all associated configs, runs, and install group runs.
      operationId: DeleteAppBranch
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.EmptyResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: delete an app branch
      tags:
      - apps
    get:
      consumes:
      - application/json
      description: 'Get an app branch by ID. Use `latest_config=true` query parameter to include only the most recent config with its VCS settings and install groups.

        '
      operationId: GetAppBranch
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      - default: false
        description: include only the latest config
        in: query
        name: latest_config
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppBranch'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an app branch
      tags:
      - apps
    patch:
      consumes:
      - application/json
      description: Updates app branch metadata (name only). To update configuration, create a new AppBranchConfig via POST /branches/:id/configs
      operationId: UpdateAppBranch
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.UpdateAppBranchRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppBranch'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: update app branch metadata
      tags:
      - apps
  /v1/apps/{app_id}/branches/{app_branch_id}/configs:
    get:
      consumes:
      - application/json
      description: 'Returns all branch configurations for the provided app.

        '
      operationId: GetAppBranchAppConfigs
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      - default: 0
        description: offset of branches to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of branches to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppConfig'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app branch app configs
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: 'Create a branch configuration for an app.

        '
      operationId: CreateAppBranchConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppBranchConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppBranchConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app branch config
      tags:
      - apps
  /v1/apps/{app_id}/branches/{app_branch_id}/latest-config:
    get:
      consumes:
      - application/json
      description: Returns the latest AppBranchConfig ordered by config_number (descending)
      operationId: GetAppBranchLatestConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppBranchConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app branch config
      tags:
      - apps
  /v1/apps/{app_id}/branches/{app_branch_id}/runs:
    get:
      consumes:
      - application/json
      description: Returns workflow runs for an app branch ordered by creation time (descending)
      operationId: GetAppBranchRuns
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      - default: 0
        description: offset of results to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of results to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.Workflow'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app branch workflow runs
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: Creates and triggers a workflow run for an app branch. If config_id is not provided, uses the latest config.
      operationId: TriggerAppBranchRun
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.TriggerAppBranchRunRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppBranchRun'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: trigger app branch workflow run
      tags:
      - apps
  /v1/apps/{app_id}/branches/{app_branch_id}/runs/{run_id}/builds:
    get:
      consumes:
      - application/json
      description: Returns component builds triggered by a specific app branch run
      operationId: GetAppBranchRunBuilds
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      - description: app branch run ID
        in: path
        name: run_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.ComponentBuild'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get builds for an app branch run
      tags:
      - apps
  /v1/apps/{app_id}/branches/{app_branch_id}/runs/{run_id}/install-group-runs:
    get:
      consumes:
      - application/json
      description: Returns all install group runs for a specific app branch run
      operationId: GetInstallGroupRuns
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      - description: app branch run ID
        in: path
        name: run_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.InstallGroupRun'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: list install group runs for an app branch run
      tags:
      - apps
  /v1/apps/{app_id}/branches/{app_branch_id}/runs/{run_id}/install-group-runs/{install_group_run_id}:
    get:
      consumes:
      - application/json
      description: Returns a single install group run with full details
      operationId: GetInstallGroupRun
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      - description: app branch run ID
        in: path
        name: run_id
        required: true
        type: string
      - description: install group run ID
        in: path
        name: install_group_run_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.InstallGroupRun'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get a specific install group run
      tags:
      - apps
  /v1/apps/{app_id}/branches/{app_branch_id}/runs/{run_id}/install-groups:
    get:
      consumes:
      - application/json
      description: Returns install config updates triggered by a specific app branch run, grouped by install group
      operationId: GetAppBranchRunInstallGroups
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app branch ID
        in: path
        name: app_branch_id
        required: true
        type: string
      - description: app branch run ID
        in: path
        name: run_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.InstallAppConfigVersion'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get install group deployments for an app branch run
      tags:
      - apps
  /v1/apps/{app_id}/break-glass-configs:
    post:
      consumes:
      - application/json
      description: 'Create a break glass config for an app.

        '
      operationId: CreateAppBreakGlassConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppBreakGlassConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppBreakGlassConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/break-glass-configs/{config_id}:
    get:
      consumes:
      - application/json
      description: 'Return an app break glass config by id.

        '
      operationId: GetAppBreakGlassConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app break glass config ID
        in: path
        name: config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppBreakGlassConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app break_glass config
      tags:
      - apps
  /v1/apps/{app_id}/config:
    post:
      consumes:
      - application/json
      deprecated: true
      description: 'Create an app config, by pushing the contents of a config file.


        The API will automatically configure the app according to the config file in the background.

        '
      operationId: CreateAppConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/config/{app_config_id}:
    get:
      consumes:
      - application/json
      deprecated: true
      description: 'Fetch an app config by id.

        '
      operationId: GetAppConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: app_config_id
        required: true
        type: string
      - default: false
        description: load all children configs
        in: query
        name: recurse
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an app config
      tags:
      - apps
    patch:
      consumes:
      - application/json
      deprecated: true
      description: 'Update an app config, setting status and state.

        '
      operationId: UpdateAppConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.UpdateAppConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: app_config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/config/{app_config_id}/graph:
    get:
      consumes:
      - application/json
      deprecated: true
      description: 'Return raw graphviz data as a string that can be used to visualize a graph for an app.


        Note, for more complex viewing recommend to copy this output directly into [Graphviz

        viewer](https://dreampuf.github.io/GraphvizOnline).

        '
      operationId: GetAppConfigGraph
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: app_config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an app config graph
      tags:
      - apps
  /v1/apps/{app_id}/config/{app_config_id}/update-installs:
    post:
      consumes:
      - application/json
      deprecated: true
      description: 'Update app configuration across multiple installs.

        '
      operationId: UpdateAppConfigInstalls
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.UpdateAppConfigInstallsRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: app_config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.EmptyResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/configs:
    get:
      consumes:
      - application/json
      description: 'Returns all configs for the app.

        '
      operationId: GetAppConfigs
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: 0
        description: offset of jobs to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of jobs to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppConfig'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app configs
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: 'Create an app config, by pushing the contents of a config file.


        The API will automatically configure the app according to the config file in the background.

        '
      operationId: CreateAppConfigV2
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/configs/{config_id}:
    get:
      consumes:
      - application/json
      description: 'Fetch an app config by id.

        '
      operationId: GetAppConflgV2
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: config_id
        required: true
        type: string
      - default: false
        description: load all children configs
        in: query
        name: recurse
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an app config
      tags:
      - apps
    patch:
      consumes:
      - application/json
      description: 'Update an app config, setting status and state.

        '
      operationId: UpdateAppConflgV2
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.UpdateAppConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/configs/{config_id}/build:
    post:
      consumes:
      - application/json
      description: Creates a workflow that builds all components defined in the given app config.
      operationId: BuildAppConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.Workflow'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: Build all components for an app config
      tags:
      - apps
  /v1/apps/{app_id}/configs/{config_id}/diff:
    get:
      consumes:
      - application/json
      description: Compares a new app config against an old one and returns a hierarchical diff.
      operationId: GetAppConfigDiff
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: new config ID
        in: path
        name: config_id
        required: true
        type: string
      - description: previous config ID to compare against
        in: query
        name: old_config_id
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/service.AppConfigDiffResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: diff two app configs
      tags:
      - apps
  /v1/apps/{app_id}/configs/{config_id}/graph:
    get:
      consumes:
      - application/json
      description: 'Return raw graphviz data as a string that can be used to visualize a graph for an app.


        Note, for more complex viewing recommend to copy this output directly into [Graphviz

        viewer](https://dreampuf.github.io/GraphvizOnline).

        '
      operationId: GetAppConfigGraphV2
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            type: string
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an app config graph
      tags:
      - apps
  /v1/apps/{app_id}/configs/{config_id}/update-installs:
    post:
      consumes:
      - application/json
      description: 'Update app configuration across multiple installs.

        '
      operationId: UpdateAppConfigInstallsV2
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.UpdateAppConfigInstallsRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app config ID
        in: path
        name: config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.EmptyResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/input-config:
    post:
      consumes:
      - application/json
      description: "App input configs allow you to declare the inputs for your application, and do things such as require customer inputs or \nexpose configuration knobs in your application.\n"
      operationId: CreateAppInputConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppInputConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppInputConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/input-configs:
    get:
      consumes:
      - application/json
      description: 'Returns all input configurations for the provided app.

        '
      operationId: GetAppInputConfigs
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: 0
        description: offset of jobs to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of jobs to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppInputConfig'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app input configs
      tags:
      - apps
  /v1/apps/{app_id}/input-configs/{input_config_id}:
    get:
      consumes:
      - application/json
      description: 'Return an input config by id.

        '
      operationId: GetAppInputConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: input config ID
        in: path
        name: input_config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppInputConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app input config
      tags:
      - apps
  /v1/apps/{app_id}/input-latest-config:
    get:
      consumes:
      - application/json
      description: 'Returns the most recent input config for the provided app.

        '
      operationId: GetAppInputLatestConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppInputConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app input config
      tags:
      - apps
  /v1/apps/{app_id}/kubernetes-contexts-configs:
    post:
      consumes:
      - application/json
      description: Create the named kubernetes_context bindings for an app config version. Each context names a peer terraform_module or pulumi component that emits cluster connection details as outputs.
      operationId: CreateAppKubernetesContextsConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppKubernetesContextsConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppKubernetesContextsConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create a kubernetes contexts config
      tags:
      - apps
  /v1/apps/{app_id}/labels:
    get:
      consumes:
      - application/json
      description: Returns all distinct label keys with values, usage counts, and assigned colors across components, actions, runbooks, and installs for an app.
      operationId: GetAppLabels
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/service.AppLabelsResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get all labels used across an app
      tags:
      - apps
  /v1/apps/{app_id}/latest-break-glass-config:
    get:
      consumes:
      - application/json
      description: 'Get the latest break glass config for an app.

        '
      operationId: GetLatestAppBreakGlassConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppBreakGlassConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app break glass config
      tags:
      - apps
  /v1/apps/{app_id}/latest-config:
    get:
      consumes:
      - application/json
      description: 'Returns the most recent config for the provided app.

        '
      operationId: GetAppLatestConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: false
        description: load all children configs
        in: query
        name: recurse
        type: boolean
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app config
      tags:
      - apps
  /v1/apps/{app_id}/latest-permissions-config:
    get:
      consumes:
      - application/json
      description: 'Get the latest app permissions config.

        '
      operationId: GetLatestAppPermissionsConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppPermissionsConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app permissions config
      tags:
      - apps
  /v1/apps/{app_id}/latest-policies-config:
    get:
      consumes:
      - application/json
      description: 'Get latest app policies config.

        '
      operationId: GetLatestAppPoliciesConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppPoliciesConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app policies config
      tags:
      - apps
  /v1/apps/{app_id}/latest-secrets-config:
    get:
      consumes:
      - application/json
      description: 'Get the latest app secrets config.

        '
      operationId: GetLatestAppSecretsConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppSecretsConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app secrets config
      tags:
      - apps
  /v1/apps/{app_id}/operation-role-configs:
    post:
      consumes:
      - application/json
      description: Create operation role rules for an app config
      operationId: CreateAppOperationRoleConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppOperationRoleConfigRequest'
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppOperationRoleConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create operation role config
      tags:
      - apps
  /v1/apps/{app_id}/operation-role-configs/{operation_role_config_id}:
    get:
      consumes:
      - application/json
      description: Get all operation role configs for an app
      operationId: GetAppOperationRoleConfigs
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: operation role config ID
        in: path
        name: operation_role_config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppOperationRoleConfig'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get operation role configs
      tags:
      - apps
  /v1/apps/{app_id}/permissions-configs:
    post:
      consumes:
      - application/json
      description: 'Create app permissions config.

        '
      operationId: CreateAppPermissionsConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppPermissionsConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppPermissionsConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/permissions-configs/{config_id}:
    get:
      consumes:
      - application/json
      description: 'Return an app permissions config by id.

        '
      operationId: GetAppPermissionsConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app permissions config ID
        in: path
        name: config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppPermissionsConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app permissions config
      tags:
      - apps
  /v1/apps/{app_id}/policies-configs:
    get:
      consumes:
      - application/json
      description: 'Get all policies configs for an app.

        '
      operationId: GetAppPoliciesConfigs
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: 0
        description: offset of results to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of results to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppPoliciesConfig'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app policies configs
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: 'Create app policies config.

        '
      operationId: CreateAppPoliciesConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppPoliciesConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppPoliciesConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      tags:
      - apps
  /v1/apps/{app_id}/policies-configs/{config_id}:
    get:
      consumes:
      - application/json
      description: 'Return an app policy config by id.

        '
      operationId: GetAppPoliciesConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app policies config ID
        in: path
        name: config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppPoliciesConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app policies config
      tags:
      - apps
  /v1/apps/{app_id}/policy-config/{policy_config_id}:
    get:
      consumes:
      - application/json
      description: get a single app policy config by ID
      operationId: GetAppPolicyConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: app policy config ID
        in: path
        name: policy_config_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppPolicyConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app policy config
      tags:
      - apps
  /v1/apps/{app_id}/runner-configs:
    get:
      consumes:
      - application/json
      description: 'Returns all runner configurations for the provided app.

        '
      operationId: GetAppRunnerConfigs
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: 0
        description: offset of jobs to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of jobs to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppRunnerConfig'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app runner configs
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: 'Create a runner configuration for an app.

        '
      operationId: CreateAppRunnerConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppRunnerConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppRunnerConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app runner config
      tags:
      - apps
  /v1/apps/{app_id}/runner-latest-config:
    get:
      consumes:
      - application/json
      description: 'Returns the most recent runner config for the provided app.

        '
      operationId: GetAppRunnerLatestConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppRunnerConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app runner config
      tags:
      - apps
  /v1/apps/{app_id}/sandbox-config:
    post:
      consumes:
      - application/json
      deprecated: true
      description: 'Create a sandbox configuration for an app.

        '
      operationId: CreateAppSandboxConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppSandboxConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppSandboxConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app sandbox config
      tags:
      - apps
  /v1/apps/{app_id}/sandbox-configs:
    get:
      consumes:
      - application/json
      description: 'Returns all sandbox configurations for the provided app.

        '
      operationId: GetAppSandboxConfigs
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: 0
        description: offset of jobs to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of jobs to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppSandboxConfig'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app sandbox configs
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: 'Create a sandbox configuration for an app.

        '
      operationId: CreateAppSandboxConfigV2
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppSandboxConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppSandboxConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app sandbox config
      tags:
      - apps
  /v1/apps/{app_id}/sandbox-latest-config:
    get:
      consumes:
      - application/json
      description: 'Returns the most recent sandbox config for the provided app.

        '
      operationId: GetAppSandboxLatestConfig
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppSandboxConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get latest app sandbox config
      tags:
      - apps
  /v1/apps/{app_id}/sandbox/builds:
    get:
      consumes:
      - application/json
      operationId: GetAppSandboxBuilds
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: 0
        description: offset of results to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of results to return
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppSandboxBuild'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app sandbox builds
      tags:
      - apps
    post:
      consumes:
      - application/json
      operationId: CreateAppSandboxBuild
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppSandboxBuild'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create app sandbox build
      tags:
      - apps
  /v1/apps/{app_id}/sandbox/builds/{build_id}:
    get:
      consumes:
      - application/json
      operationId: GetAppSandboxBuild
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: sandbox build ID
        in: path
        name: build_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.AppSandboxBuild'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app sandbox build
      tags:
      - apps
  /v1/apps/{app_id}/secret:
    post:
      consumes:
      - application/json
      deprecated: true
      description: 'Create an app secret that can be used to configure components. To reference an app secret, use `.nuon.secrets.<secret_name>`.


        **NOTE** secrets can only be written, or deleted, not read.

        '
      operationId: CreateAppSecret
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppSecretRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppSecret'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app secret
      tags:
      - apps
  /v1/apps/{app_id}/secret/{secret_id}:
    delete:
      consumes:
      - application/json
      deprecated: true
      description: 'Delete an app secret.

        '
      operationId: DeleteAppSecret
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - description: secret ID
        in: path
        name: secret_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/app.EmptyResponse'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: delete an app secret
      tags:
      - apps
  /v1/apps/{app_id}/secrets:
    get:
      consumes:
      - application/json
      description: 'List all secrets for an app.


        **NOTE** this does not return any sensitive values, as secrets are write only.

        '
      operationId: GetAppSecrets
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      - default: 0
        description: offset of jobs to return
        in: query
        name: offset
        type: integer
      - default: 10
        description: limit of jobs to return
        in: query
        name: limit
        type: integer
      - default: 0
        description: page number of results to return
        in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/app.AppSecret'
            type: array
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app secrets
      tags:
      - apps
    post:
      consumes:
      - application/json
      description: 'Create an app secret that can be used to configure components. To reference an app secret, use `.nuon.secrets.<secret_name>`.


        **NOTE** secrets can only be written, or deleted, not read.

        '
      operationId: CreateAppSecretV2
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppSecretRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppSecret'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app secret
      tags:
      - apps
  /v1/apps/{app_id}/secrets-configs:
    post:
      consumes:
      - application/json
      description: 'Create an app secrets config.

        '
      operationId: CreateAppSecretsConfig
      parameters:
      - description: Input
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/service.CreateAppSecretsConfigRequest'
      - description: app ID
        in: path
        name: app_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/app.AppSecretsConfig'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '401':
          description: Unauthorized
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '403':
          description: Forbidden
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '404':
          description: Not Found
          schema:
            $ref: '#/definitions/stderr.ErrResponse'
        '409':
          description: Conflict
          schema:
[...]
