openapi: 3.2.0
info:
  contact:
    email: support@nuon.co
    name: Nuon Support
  description: API for managing nuon apps, components, installs, and actions.
  title: Nuon Auth API
  version: 0.19.1074
servers:
- url: https://api.nuon.co/
tags:
- description: auth
  name: Auth
paths:
  /v1/auth/me:
    get:
      description: Returns the authenticated account with identity profile information (provider_type, name, picture)
      operationId: GetAuthMe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.AuthMeResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Get current account with identity information
      tags:
      - Auth
  /v1/auth/validate:
    get:
      description: Returns 200 if the provided token is valid, 401 otherwise.
      operationId: ValidateToken
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  type: boolean
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Validate authentication token
      tags:
      - Auth
components:
  schemas:
    app.UserJourney:
      properties:
        name:
          type: string
        steps:
          items:
            $ref: '#/components/schemas/app.UserJourneyStep'
          type: array
        title:
          type: string
      type: object
    permissions.Permission:
      enum:
      - unknown
      - all
      - create
      - read
      - update
      - delete
      type: string
      x-enum-varnames:
      - PermissionUnknown
      - PermissionAll
      - PermissionCreate
      - PermissionRead
      - PermissionUpdate
      - PermissionDelete
    app.PolicyName:
      enum:
      - org_admin
      - org_support
      - installer
      - runner
      - hosted_installer
      type: string
      x-enum-varnames:
      - PolicyNameOrgAdmin
      - PolicyNameOrgSupport
      - PolicyNameInstaller
      - PolicyNameRunner
      - PolicyNameHostedInstaller
    service.AuthMeResponse:
      properties:
        account_type:
          $ref: '#/components/schemas/app.AccountType'
        created_at:
          type: string
        email:
          type: string
        id:
          type: string
        identities:
          items:
            $ref: '#/components/schemas/service.AuthMeIdentity'
          type: array
        org_ids:
          description: ReadOnly Fields
          items:
            type: string
          type: array
        permissions:
          $ref: '#/components/schemas/permissions.Set'
        roles:
          items:
            $ref: '#/components/schemas/app.Role'
          type: array
        subject:
          type: string
        updated_at:
          type: string
        user_journeys:
          items:
            $ref: '#/components/schemas/app.UserJourney'
          type: array
      type: object
    app.ProviderType:
      enum:
      - oidc
      - google
      - github
      type: string
      x-enum-varnames:
      - ProviderTypeOIDC
      - ProviderTypeGoogle
      - ProviderTypeGitHub
    app.Account:
      properties:
        account_type:
          $ref: '#/components/schemas/app.AccountType'
        created_at:
          type: string
        email:
          type: string
        id:
          type: string
        org_ids:
          description: ReadOnly Fields
          items:
            type: string
          type: array
        permissions:
          $ref: '#/components/schemas/permissions.Set'
        roles:
          items:
            $ref: '#/components/schemas/app.Role'
          type: array
        subject:
          type: string
        updated_at:
          type: string
        user_journeys:
          items:
            $ref: '#/components/schemas/app.UserJourney'
          type: array
      type: object
    permissions.Set:
      additionalProperties:
        $ref: '#/components/schemas/permissions.Permission'
      type: object
    stderr.ErrResponse:
      properties:
        description:
          type: string
        error:
          type: string
        user_error:
          type: boolean
      type: object
    app.RoleType:
      enum:
      - org_admin
      - org_support
      - installer
      - runner
      - hosted-installer
      type: string
      x-enum-varnames:
      - RoleTypeOrgAdmin
      - RoleTypeOrgSupport
      - RoleTypeInstaller
      - RoleTypeRunner
      - RoleTypeHostedInstaller
    app.AccountType:
      enum:
      - auth
      - auth0
      - service
      - canary
      - integration
      type: string
      x-enum-varnames:
      - AccountTypeAuth
      - AccountTypeAuth0
      - AccountTypeService
      - AccountTypeCanary
      - AccountTypeIntegration
    app.UserJourneyStep:
      properties:
        complete:
          type: boolean
        completed_at:
          description: Top-level completion tracking fields
          type: string
        completion_method:
          type: string
        completion_source:
          type: string
        metadata:
          additionalProperties: true
          description: Flexible metadata for business data
          type: object
        name:
          type: string
        title:
          type: string
      type: object
    service.AuthMeIdentity:
      properties:
        name:
          type: string
        picture:
          type: string
        provider_type:
          $ref: '#/components/schemas/app.ProviderType'
      type: object
    app.Policy:
      properties:
        created_at:
          type: string
        created_by_id:
          type: string
        id:
          type: string
        name:
          $ref: '#/components/schemas/app.PolicyName'
        permissions:
          additionalProperties:
            type: string
          description: Permissions are used to track granular permissions for each domain
          type: object
        role_id:
          type: string
        updated_at:
          type: string
      type: object
    app.Role:
      properties:
        createdBy:
          $ref: '#/components/schemas/app.Account'
        created_at:
          type: string
        created_by_id:
          type: string
        id:
          type: string
        policies:
          items:
            $ref: '#/components/schemas/app.Policy'
          type: array
        role_type:
          $ref: '#/components/schemas/app.RoleType'
        updated_at:
          type: string
      type: object
  securitySchemes:
    APIKey:
      description: Type "Bearer" followed by a space and token.
      in: header
      name: Authorization
      type: apiKey
    OrgID:
      description: Nuon org ID
      in: header
      name: X-Nuon-Org-ID
      type: apiKey
