openapi: 3.2.0
info:
  contact:
    email: support@nuon.co
    name: Nuon Support
  description: API for managing nuon apps, components, installs, and actions.
  title: Nuon Accounts API
  version: 0.19.1074
servers:
- url: https://api.nuon.co/
tags:
- description: accounts
  name: Accounts
paths:
  /v1/account:
    get:
      description: Get the current account with user journeys and other data
      operationId: GetCurrentAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Account'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Get current account
      tags:
      - Accounts
  /v1/account/static-token:
    post:
      description: Creates a long-lived static API token scoped to your current org. Each token gets its own dedicated service account, and only grants access to the current org.
      operationId: CreateStaticToken
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/github_com_nuonco_nuon_services_ctl-api_internal_app_accounts_service.StaticTokenResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create a static API token for your org
      tags:
      - Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CreateStaticTokenRequest'
        description: Input
        required: true
  /v1/account/static-tokens:
    get:
      description: Lists the static API tokens for your current org. Token secrets are never returned.
      operationId: ListStaticTokens
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.Token'
                type: array
      security:
      - APIKey: []
      - OrgID: []
      summary: list your org's static API tokens
      tags:
      - Accounts
  /v1/account/static-tokens/{token_id}:
    delete:
      description: Deletes a static API token belonging to your current org, along with its dedicated service account. Once deleted, the token can no longer be used to access the API.
      operationId: DeleteStaticToken
      parameters:
      - description: token ID
        in: path
        name: token_id
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No Content
      security:
      - APIKey: []
      - OrgID: []
      summary: delete a static API token
      tags:
      - Accounts
  /v1/account/user-journeys:
    get:
      description: Get all user journeys for the current user account
      operationId: GetUserJourneys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.UserJourney'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: Get user journeys
      tags:
      - Accounts
    post:
      description: Add a new user journey with steps to track user progress
      operationId: CreateUserJourney
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Create a new user journey for account
      tags:
      - Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CreateUserJourneyRequest'
        description: Create journey request
        required: true
  /v1/account/user-journeys/{journey_name}/complete:
    post:
      description: Mark all remaining steps in the specified user journey as complete
      operationId: CompleteUserJourney
      parameters:
      - description: Journey name to complete
        in: path
        name: journey_name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Complete all steps in a specific user journey
      tags:
      - Accounts
  /v1/account/user-journeys/{journey_name}/reset:
    post:
      description: Reset all steps in a specified user journey by setting their completion status to false
      operationId: ResetUserJourney
      parameters:
      - description: Journey name
        in: path
        name: journey_name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: Reset user journey steps
      tags:
      - Accounts
  /v1/account/user-journeys/{journey_name}/steps/{step_name}:
    patch:
      description: Mark a user journey step as complete or incomplete
      operationId: UpdateUserJourneyStep
      parameters:
      - description: Journey name
        in: path
        name: journey_name
        required: true
        schema:
          type: string
      - description: Step name
        in: path
        name: step_name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Account'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Update user journey step completion status
      tags:
      - Accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.UpdateUserJourneyStepRequest'
        description: Update step request
        required: true
components:
  schemas:
    app.UserJourney:
      properties:
        name:
          type: string
        steps:
          items:
            $ref: '#/components/schemas/app.UserJourneyStep'
          type: array
        title:
          type: string
      type: object
    app.Policy:
      properties:
        created_at:
          type: string
        created_by_id:
          type: string
        id:
          type: string
        name:
          $ref: '#/components/schemas/app.PolicyName'
        permissions:
          additionalProperties:
            type: string
          description: Permissions are used to track granular permissions for each domain
          type: object
        role_id:
          type: string
        updated_at:
          type: string
      type: object
    permissions.Permission:
      enum:
      - unknown
      - all
      - create
      - read
      - update
      - delete
      type: string
      x-enum-varnames:
      - PermissionUnknown
      - PermissionAll
      - PermissionCreate
      - PermissionRead
      - PermissionUpdate
      - PermissionDelete
    app.PolicyName:
      enum:
      - org_admin
      - org_support
      - installer
      - runner
      - hosted_installer
      type: string
      x-enum-varnames:
      - PolicyNameOrgAdmin
      - PolicyNameOrgSupport
      - PolicyNameInstaller
      - PolicyNameRunner
      - PolicyNameHostedInstaller
    app.TokenType:
      enum:
      - auth
      - auth0
      - admin
      - static
      - integration
      - canary
      - nuon
      type: string
      x-enum-comments:
        TokenTypeAuth: nuon auth service
      x-enum-descriptions:
      - nuon auth service
      - ''
      - ''
      - ''
      - ''
      - ''
      - ''
      x-enum-varnames:
      - TokenTypeAuth
      - TokenTypeAuth0
      - TokenTypeAdmin
      - TokenTypeStatic
      - TokenTypeIntegration
      - TokenTypeCanary
      - TokenTypeNuon
    app.Account:
      properties:
        account_type:
          $ref: '#/components/schemas/app.AccountType'
        created_at:
          type: string
        email:
          type: string
        id:
          type: string
        org_ids:
          description: ReadOnly Fields
          items:
            type: string
          type: array
        permissions:
          $ref: '#/components/schemas/permissions.Set'
        roles:
          items:
            $ref: '#/components/schemas/app.Role'
          type: array
        subject:
          type: string
        updated_at:
          type: string
        user_journeys:
          items:
            $ref: '#/components/schemas/app.UserJourney'
          type: array
      type: object
    stderr.ErrResponse:
      properties:
        description:
          type: string
        error:
          type: string
        user_error:
          type: boolean
      type: object
    service.CreateStaticTokenRequest:
      properties:
        duration:
          default: 8760h
          description: defaults to one year
          type: string
        name:
          description: human-friendly name to identify the token later
          type: string
      required:
      - name
      type: object
    app.RoleType:
      enum:
      - org_admin
      - org_support
      - installer
      - runner
      - hosted-installer
      type: string
      x-enum-varnames:
      - RoleTypeOrgAdmin
      - RoleTypeOrgSupport
      - RoleTypeInstaller
      - RoleTypeRunner
      - RoleTypeHostedInstaller
    permissions.Set:
      additionalProperties:
        $ref: '#/components/schemas/permissions.Permission'
      type: object
    service.CreateUserJourneyStepReq:
      properties:
        name:
          type: string
        title:
          type: string
      required:
      - name
      - title
      type: object
    app.Role:
      properties:
        createdBy:
          $ref: '#/components/schemas/app.Account'
        created_at:
          type: string
        created_by_id:
          type: string
        id:
          type: string
        policies:
          items:
            $ref: '#/components/schemas/app.Policy'
          type: array
        role_type:
          $ref: '#/components/schemas/app.RoleType'
        updated_at:
          type: string
      type: object
    github_com_nuonco_nuon_services_ctl-api_internal_app_accounts_service.StaticTokenResponse:
      properties:
        api_token:
          type: string
        id:
          type: string
      type: object
    app.Token:
      properties:
        account_id:
          type: string
        created_at:
          type: string
        created_by_id:
          type: string
        expires_at:
          description: claim data
          type: string
        id:
          type: string
        issued_at:
          type: string
        issuer:
          type: string
        name:
          type: string
        org_id:
          type: string
        token_type:
          $ref: '#/components/schemas/app.TokenType'
        updated_at:
          type: string
      type: object
    app.UserJourneyStep:
      properties:
        complete:
          type: boolean
        completed_at:
          description: Top-level completion tracking fields
          type: string
        completion_method:
          type: string
        completion_source:
          type: string
        metadata:
          additionalProperties: true
          description: Flexible metadata for business data
          type: object
        name:
          type: string
        title:
          type: string
      type: object
    service.CreateUserJourneyRequest:
      properties:
        name:
          type: string
        steps:
          items:
            $ref: '#/components/schemas/service.CreateUserJourneyStepReq'
          type: array
        title:
          type: string
      required:
      - name
      - steps
      - title
      type: object
    app.AccountType:
      enum:
      - auth
      - auth0
      - service
      - canary
      - integration
      type: string
      x-enum-varnames:
      - AccountTypeAuth
      - AccountTypeAuth0
      - AccountTypeService
      - AccountTypeCanary
      - AccountTypeIntegration
    service.UpdateUserJourneyStepRequest:
      properties:
        complete:
          type: boolean
        metadata:
          additionalProperties: true
          type: object
      type: object
  securitySchemes:
    APIKey:
      description: Type "Bearer" followed by a space and token.
      in: header
      name: Authorization
      type: apiKey
    OrgID:
      description: Nuon org ID
      in: header
      name: X-Nuon-Org-ID
      type: apiKey
