openapi: 3.2.0
info:
  contact:
    email: support@nuon.co
    name: Nuon Support
  description: API for managing nuon apps, components, installs, and actions.
  title: Nuon Onboarding API
  version: 0.19.1074
servers:
- url: https://api.nuon.co/
tags:
- description: onboarding
  name: Onboarding
paths:
  /v1/onboarding:
    post:
      description: Creates a new active onboarding session for the current account
      operationId: CreateOnboarding
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Onboarding'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Start a new onboarding session
      tags:
      - Onboarding
  /v1/onboarding/current:
    delete:
      description: Marks the current active onboarding session as abandoned
      operationId: AbandonOnboarding
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Onboarding'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Abandon onboarding session
      tags:
      - Onboarding
    get:
      description: Returns the active onboarding session for the current account
      operationId: GetCurrentOnboarding
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Onboarding'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Get current onboarding session
      tags:
      - Onboarding
  /v1/onboarding/current/steps/deploy:
    post:
      description: Advances the onboarding past the deploy monitoring to get started
      operationId: CompleteOnboardingDeployStep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Onboarding'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: Complete the deploy step
      tags:
      - Onboarding
  /v1/onboarding/current/steps/get-started:
    post:
      description: Marks the onboarding session as completed
      operationId: CompleteOnboardingGetStartedStep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Onboarding'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: Complete onboarding
      tags:
      - Onboarding
  /v1/onboarding/current/steps/install:
    post:
      description: Creates an install and advances the onboarding to the install status step
      operationId: CompleteOnboardingInstallStep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Onboarding'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: Complete the install step
      tags:
      - Onboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CompleteInstallStepRequest'
        description: Input
        required: true
  /v1/onboarding/current/steps/organization:
    post:
      description: Creates a sandbox organization or attaches an existing one, then advances the onboarding to the app profile step
      operationId: CompleteOnboardingOrganizationStep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Onboarding'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Complete the organization step
      tags:
      - Onboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CompleteOrganizationStepRequest'
        description: Input
        required: true
  /v1/onboarding/current/steps/your-stack:
    post:
      description: Configures the application profile and advances the onboarding to the install step
      operationId: CompleteOnboardingYourStackStep
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Onboarding'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: Complete the your stack step
      tags:
      - Onboarding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CompleteYourStackStepRequest'
        description: Input
        required: true
  /v1/onboarding/example-apps:
    get:
      description: Returns the list of available example applications for onboarding
      operationId: GetOnboardingExampleApps
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/service.ExampleApp'
                type: array
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      summary: Get example apps catalog
      tags:
      - Onboarding
components:
  schemas:
    service.CompleteYourStackStepRequest:
      properties:
        app_attributes:
          items:
            type: string
          type: array
        app_type:
          enum:
          - custom
          - example
          type: string
        cloud_provider:
          type: string
        example_app_slug:
          type: string
      required:
      - app_type
      type: object
    service.CompleteOrganizationStepRequest:
      properties:
        name:
          type: string
        org_id:
          type: string
      type: object
    service.ExampleApp:
      properties:
        category:
          type: string
        cloud_provider:
          type: string
        description:
          type: string
        difficulty:
          type: string
        directory:
          type: string
        display_name:
          type: string
        slug:
          type: string
        tags:
          items:
            type: string
          type: array
      type: object
    app.Onboarding:
      properties:
        account_id:
          type: string
        app_attributes:
          items:
            type: string
          type: array
        app_branch_id:
          type: string
        app_config:
          type: object
        app_id:
          type: string
        app_type:
          description: 'Step 2: Your Stack'
          type: string
        cloud_provider:
          type: string
        created_at:
          type: string
        created_by_id:
          type: string
        current_step:
          type: string
        example_app_slug:
          type: string
        id:
          type: string
        install_id:
          type: string
        install_mode:
          description: 'Step 3: Install'
          type: string
        org_id:
          description: 'Step 1: Organization'
          type: string
        status:
          type: string
        status_v2:
          $ref: '#/components/schemas/app.CompositeStatus'
        step_error:
          type: string
        step_status:
          description: Async step status (for queue-based signal processing)
          type: string
        updated_at:
          type: string
        workflow_id:
          type: string
      type: object
    stderr.ErrResponse:
      properties:
        description:
          type: string
        error:
          type: string
        user_error:
          type: boolean
      type: object
    app.Status:
      enum:
      - error
      - pending
      - in-progress
      - checking-plan
      - success
      - not-attempted
      - cancelled
      - retrying
      - discarded
      - user-skipped
      - auto-skipped
      - planning
      - applying
      - queued
      - warning
      - failed-pending-retry
      - generating
      - awaiting-user-run
      - provisioning
      - active
      - outdated
      - expired
      - approved
      - drifted
      - no-drift
      - approval-expired
      - approval-denied
      - approval-retry
      - building
      - deleting
      - noop
      - approval-awaiting
      type: string
      x-enum-varnames:
      - StatusError
      - StatusPending
      - StatusInProgress
      - StatusCheckPlan
      - StatusSuccess
      - StatusNotAttempted
      - StatusCancelled
      - StatusRetrying
      - StatusDiscarded
      - StatusUserSkipped
      - StatusAutoSkipped
      - StatusPlanning
      - StatusApplying
      - StatusQueued
      - StatusWarning
      - StatusFailedPendingRetry
      - InstallStackVersionStatusGenerating
      - InstallStackVersionStatusPendingUser
      - InstallStackVersionStatusProvisioning
      - InstallStackVersionStatusActive
      - InstallStackVersionStatusOutdated
      - InstallStackVersionStatusExpired
      - WorkflowStepApprovalStatusApproved
      - WorkflowStepDrifted
      - WorkflowStepNoDrift
      - WorkflowStepApprovalStatusApprovalExpired
      - WorkflowStepApprovalStatusApprovalDenied
      - WorkflowStepApprovalStatusApprovalRetryPlan
      - StatusBuilding
      - StatusDeleting
      - InstallDeployStatusV2Noop
      - AwaitingApproval
    service.CompleteInstallStepRequest:
      properties:
        aws_account:
          properties:
            region:
              type: string
          type: object
        azure_account:
          properties:
            location:
              type: string
          type: object
        inputs:
          additionalProperties:
            type: string
          type: object
        install_mode:
          enum:
          - cloud
          - sandbox
          type: string
        metadata:
          properties:
            managed_by:
              type: string
          type: object
        name:
          type: string
      required:
      - name
      type: object
    app.CompositeStatus:
      properties:
        created_at_ts:
          type: integer
        created_by_id:
          type: string
        history:
          items:
            $ref: '#/components/schemas/app.CompositeStatus'
          type: array
        metadata:
          additionalProperties: {}
          type: object
        status:
          $ref: '#/components/schemas/app.Status'
        status_human_description:
          type: string
      type: object
  securitySchemes:
    APIKey:
      description: Type "Bearer" followed by a space and token.
      in: header
      name: Authorization
      type: apiKey
    OrgID:
      description: Nuon org ID
      in: header
      name: X-Nuon-Org-ID
      type: apiKey
