openapi: 3.2.0
info:
  contact:
    email: support@nuon.co
    name: Nuon Support
  description: API for managing nuon apps, components, installs, and actions.
  title: Nuon Installs API
  version: 0.19.1074
servers:
- url: https://api.nuon.co/
tags:
- description: installs
  name: installs
paths:
  /v1/apps/{app_id}/installs:
    get:
      description: Returns all installs for the provided app.
      operationId: GetAppInstalls
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        schema:
          type: string
      - description: search query to filter installs by name or ID
        in: query
        name: q
        schema:
          type: string
      - description: label filter (key:value,key:value)
        in: query
        name: labels
        schema:
          type: string
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.Install'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get all installs for an app
      tags:
      - installs
    post:
      deprecated: true
      description: Create a new install for an app.
      operationId: CreateInstall
      parameters:
      - description: app ID
        in: path
        name: app_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Install'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CreateInstallRequest'
        description: Input
        required: true
  /v1/install-workflows/{install_workflow_id}:
    get:
      deprecated: true
      description: Return a workflow.
      operationId: GetInstallWorkflow
      parameters:
      - description: install workflow ID
        in: path
        name: install_workflow_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Workflow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install workflow
      tags:
      - installs
    patch:
      deprecated: true
      description: Update a workflow configuration.
      operationId: UpdateInstallWorkflow
      parameters:
      - description: install workflow ID
        in: path
        name: install_workflow_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Workflow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: update an install workflow
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.UpdateWorkflowRequest'
        description: Input
        required: true
  /v1/install-workflows/{install_workflow_id}/cancel:
    post:
      deprecated: true
      description: Cancel a running workflow execution.
      operationId: CancelInstallWorkflow
      parameters:
      - description: install workflow ID
        in: path
        name: install_workflow_id
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.EmptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: cancel an ongoing install workflow
      tags:
      - installs
  /v1/install-workflows/{install_workflow_id}/steps:
    get:
      deprecated: true
      description: Return all steps for a workflow.
      operationId: GetInstallWorkflowSteps
      parameters:
      - description: install workflow ID
        in: path
        name: install_workflow_id
        required: true
        schema:
          type: string
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.WorkflowStep'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get all of the steps for a given install workflow
      tags:
      - installs
  /v1/install-workflows/{install_workflow_id}/steps/{install_workflow_step_id}:
    get:
      deprecated: true
      description: Return a single workflow step.
      operationId: GetInstallWorkflowStep
      parameters:
      - description: workflow id
        in: path
        name: install_workflow_id
        required: true
        schema:
          type: string
      - description: step id
        in: path
        name: install_workflow_step_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowStep'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install workflow step
      tags:
      - installs
  /v1/install-workflows/{install_workflow_id}/steps/{install_workflow_step_id}/approvals/{approval_id}:
    get:
      deprecated: true
      description: Return a workflow step approval by id.
      operationId: GetInstallWorkflowStepApproval
      parameters:
      - description: workflow id
        in: path
        name: install_workflow_id
        required: true
        schema:
          type: string
      - description: step id
        in: path
        name: install_workflow_step_id
        required: true
        schema:
          type: string
      - description: approval id
        in: path
        name: approval_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowStepApproval'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install workflow step approval
      tags:
      - installs
  /v1/installs:
    get:
      description: Returns all installs for the provided organization.
      operationId: GetOrgInstalls
      parameters:
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: search query to filter installs by name or ID
        in: query
        name: q
        schema:
          type: string
      - description: label filter (key:value,key:value)
        in: query
        name: labels
        schema:
          type: string
      - description: filter by runner ID
        in: query
        name: runner_id
        schema:
          type: string
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.Install'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get all installs for an org
      tags:
      - installs
    post:
      description: Create a new install for an app.
      operationId: CreateInstallV2
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Install'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an app install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CreateInstallV2Request'
        description: Input
        required: true
  /v1/installs/label-keys:
    get:
      description: Returns all distinct label key:value pairs for installs in the current org.
      operationId: GetInstallLabelKeys
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    type: string
                  type: array
                type: object
      security:
      - APIKey: []
      - OrgID: []
      summary: get distinct label key:value pairs across all installs for an org
      tags:
      - installs
  /v1/installs/sandbox-runs/{run_id}:
    get:
      deprecated: true
      description: Return a sandbox run for an install by id.
      operationId: GetInstallSandboxRun
      parameters:
      - description: run ID
        in: path
        name: run_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallSandboxRun'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install sandbox run
      tags:
      - installs
  /v1/installs/stacks/{stack_id}:
    get:
      description: Returns the deployment stack for an install.
      operationId: GetInstallStack
      parameters:
      - description: stack ID
        in: path
        name: stack_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallStack'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install stack by stack ID
      tags:
      - installs
  /v1/installs/{install_id}:
    delete:
      description: Delete an install.
      operationId: DeleteInstall
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: delete an install
      tags:
      - installs
    get:
      description: Return an install by id.
      operationId: GetInstall
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: whether to include drifted objects
        in: query
        name: include_drifted_objects
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Install'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install
      tags:
      - installs
    patch:
      description: Update an install's settings.
      operationId: UpdateInstall
      parameters:
      - description: app ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.Install'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: update an install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.UpdateInstallRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/action-workflows:
    get:
      deprecated: true
      description: Get install action workflows.
      operationId: GetInstallActionWorkflows
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallActionWorkflow'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an installs action workflows
      tags:
      - installs
  /v1/installs/{install_id}/action-workflows/{action_workflow_id}:
    get:
      deprecated: true
      description: Get an install action workflow.
      operationId: GetInstallActionWorkflow
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: workflow ID
        in: path
        name: action_workflow_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallActionWorkflow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install action workflow
      tags:
      - installs
  /v1/installs/{install_id}/actions:
    get:
      description: Get install action workflows.
      operationId: GetInstallActions
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallActionWorkflow'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an installs action workflows
      tags:
      - installs
  /v1/installs/{install_id}/actions/{action_id}:
    get:
      description: Get an install action workflow.
      operationId: GetInstallAction
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: action ID
        in: path
        name: action_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallActionWorkflow'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install action
      tags:
      - installs
  /v1/installs/{install_id}/actions/{action_id}/outputs:
    get:
      description: 'Return the latest outputs for an action workflow.


        The action_id parameter accepts either an action workflow ID or name.


        **NOTE** requires a valid install.'
      operationId: GetInstallActionWorkflowOutputs
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: action workflow ID or name
        in: path
        name: action_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install action workflow outputs
      tags:
      - installs
  /v1/installs/{install_id}/app-config-updates:
    post:
      description: Creates a workflow to diff and deploy a new app config to an install.
      operationId: CreateInstallAppConfigUpdate
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallAppConfigVersion'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: trigger an app config update for an install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CreateInstallAppConfigUpdateRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/app-config-versions:
    get:
      description: Returns the app config version history for an install, ordered by most recent first.
      operationId: GetInstallAppConfigVersions
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallAppConfigVersion'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app config versions for an install
      tags:
      - installs
  /v1/installs/{install_id}/app-config-versions/{version_id}/diff:
    get:
      description: Returns the component diff for a specific app config version transition.
      operationId: GetInstallAppConfigVersionDiff
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: app config version ID
        in: path
        name: version_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallConfigDiff'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get the diff for an install app config version
      tags:
      - installs
  /v1/installs/{install_id}/app-permissions-config:
    get:
      operationId: GetInstallAppPermissionsConfig
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.InstallAppPermissionsConfigResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get app permissions config for an install with provisioning status
      tags:
      - installs
  /v1/installs/{install_id}/audit_logs:
    get:
      description: Returns audit logs for an install.
      operationId: GetInstallAuditLogs
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: start timestamp for audit log range
        in: query
        name: start
        required: true
        schema:
          type: string
      - description: end timestamp for audit log range
        in: query
        name: end
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/csv:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallAuditLog'
                type: array
        '400':
          description: Bad Request
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get install audit logs
      tags:
      - installs
  /v1/installs/{install_id}/available-roles:
    get:
      description: 'Returns a list of available IAM roles that can be used for a specific operation on an install.


        The endpoint filters roles based on the operation type:

        - **provision/reprovision**: Custom roles, break glass roles, provision IAM role

        - **deprovision/teardown**: Custom roles, break glass roles, deprovision IAM role

        - **deploy**: Custom roles, break glass roles, maintenance IAM role

        - **trigger** (actions): Custom roles, break glass roles, provision + maintenance IAM roles


        Roles are sourced from the install''s stack outputs.'
      operationId: GetAvailableRoles
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: 'principal type: component, sandbox, action'
        in: query
        name: principal_type
        schema:
          type: string
          enum:
          - component
          - sandbox
          - action
      - description: 'operation type: provision, reprovision, deprovision, deploy, teardown, trigger'
        in: query
        name: operation_type
        schema:
          type: string
          enum:
          - provision
          - deprovision
          - deploy
          - teardown
          - reprovision
          - trigger
      - description: 'principal ID: component ID or action workflow ID (required for component and action)'
        in: query
        name: principal_id
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service.AvailableRolesResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get available IAM roles for a specific operation
      tags:
      - installs
  /v1/installs/{install_id}/components:
    get:
      description: Returns all components for an install.
      operationId: GetInstallComponents
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component types to filter by
        in: query
        name: types
        schema:
          type: string
      - description: search query for component name or ID
        in: query
        name: q
        schema:
          type: string
      - description: label filter (key:value,key:value)
        in: query
        name: labels
        schema:
          type: string
      - description: return components in the install's current app config; set false to return only components no longer in it
        in: query
        name: synced
        schema:
          type: boolean
          default: true
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallComponent'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an installs components
      tags:
      - installs
  /v1/installs/{install_id}/components/deploy-all:
    post:
      description: 'Deploy all components to an install.


        This walks the graph order of the install''s app, and will trigger a deploy for each on the specified install.'
      operationId: DeployInstallComponents
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: deploy all components on an install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.DeployInstallComponentsRequest'
        description: Input
  /v1/installs/{install_id}/components/deploys:
    get:
      deprecated: true
      description: Returns all deployments for an install.
      operationId: GetInstallComponentsDeploys
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallDeploy'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get all deploys to an install
      tags:
      - installs
  /v1/installs/{install_id}/components/teardown-all:
    post:
      description: Teardown all components on an install.
      operationId: TeardownInstallComponents
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: teardown an install's components
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.TeardownInstallComponentsRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/components/{component_id}:
    get:
      description: Return an install component by id.
      operationId: GetInstallComponent
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallComponent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install component
      tags:
      - installs
  /v1/installs/{install_id}/components/{component_id}/deploys:
    get:
      description: Returns all deployments for an install component.
      operationId: GetInstallComponentDeploys
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallDeploy'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install components deploys
      tags:
      - installs
    post:
      description: Create a new deployment for an install.
      operationId: CreateInstallComponentDeploy
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallDeploy'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: deploy a build to an install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CreateInstallComponentDeployRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/components/{component_id}/deploys/latest:
    get:
      description: Returns the most recent deployment for an install component.
      operationId: GetInstallComponentLatestDeploy
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallDeploy'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get the latest deploy for an install component
      tags:
      - installs
  /v1/installs/{install_id}/components/{component_id}/deploys/{deploy_id}:
    get:
      deprecated: true
      description: Return a deployment for an install by id.
      operationId: GetInstallComponentDeploy
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      - description: deploy ID
        in: path
        name: deploy_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallDeploy'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install deploy
      tags:
      - installs
  /v1/installs/{install_id}/components/{component_id}/forget:
    post:
      description: '# Forget Install Component


        Permanently forget (soft delete) an install component from the system. This operation marks the install component as deleted while preserving the record for audit purposes.


        ## Use Cases


        - Remove a component that is no longer needed from an install

        - Clean up failed or orphaned install components

        - Prepare for reinstalling a component from scratch


        ## Important Notes


        - This is a **soft delete** operation - the record is marked as deleted but remains in the database

        - The component will no longer appear in API responses or dashboard views

        - Associated resources (terraform state, deploys, etc.) are preserved via soft delete

        - This operation is **irreversible** via the API

        - To restore, database-level operations would be required


        ## Prerequisites


        - Install must exist and belong to the authenticated organization

        - Component must exist for the specified install

        - User must have appropriate permissions for the install''s organization

        - Component must be removed from the app configuration (sync required)


        ## Behavior


        1. Validates install exists and belongs to org

        2. Validates install component exists

        3. Validates component is not in the app configuration

        4. Soft deletes the install component record

        5. Cascades soft delete to associated resources (via GORM associations)

        6. Sends event loop signal for any cleanup workflows

        7. Returns success response


        ## Validation


        Before forgetting an install component, the system validates that the component no longer exists in the app configuration. If the component is still in the app config, the request will fail with a user-friendly error message.


        **To resolve this error:**


        1. Remove the component from your `nuon.yaml` file

        2. Run `nuon apps sync` to update the app configuration

        3. Retry the forget operation


        ## Related Endpoints


        - `DELETE /v1/installs/{install_id}` - Delete entire install

        - `POST /v1/installs/{install_id}/forget` - Forget entire install

        - `POST /v1/installs/{install_id}/components/{component_id}/teardown` - Teardown component infrastructure'
      operationId: ForgetInstallComponent
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.EmptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: forget an install component
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.ForgetInstallComponentRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/components/{component_id}/outputs:
    get:
      description: 'Return the latest outputs for a component.


        **NOTE** requires a valid install.'
      operationId: GetInstallComponentOutputs
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install component outputs
      tags:
      - installs
  /v1/installs/{install_id}/components/{component_id}/teardown:
    post:
      description: Teardown and remove an install component's resources.
      operationId: TeardownInstallComponent
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: teardown an install component
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.TeardownInstallComponentRequest'
        description: Input
  /v1/installs/{install_id}/components/{component_id}/toggle:
    post:
      description: Enable or disable a toggleable component on an install. Enabling triggers a deploy workflow, disabling triggers a teardown workflow.
      operationId: ToggleInstallComponent
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: component ID
        in: path
        name: component_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: toggle an install component on or off
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.ToggleInstallComponentRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/configs:
    post:
      description: Create a configuration for an install.
      operationId: CreateInstallConfig
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallConfig'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: create an install config
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CreateInstallConfigRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/configs/{config_id}:
    patch:
      description: Update an install's configuration.
      operationId: UpdateInstallConfig
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: config ID
        in: path
        name: config_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallConfig'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: update an install config
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.UpdateInstallConfigRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/deploys:
    get:
      deprecated: true
      description: Returns all deployments for an install.
      operationId: GetInstallDeploys
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallDeploy'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get all deploys to an install
      tags:
      - installs
    post:
      deprecated: true
      description: Create a new deployment for an install.
      operationId: CreateInstallDeploy
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallDeploy'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: deploy a build to an install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.CreateInstallDeployRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/deploys/latest:
    get:
      deprecated: true
      description: Returns the most recent deployment for an install.
      operationId: GetInstallLatestDeploy
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallDeploy'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install's latest deploy
      tags:
      - installs
  /v1/installs/{install_id}/deploys/{deploy_id}:
    get:
      description: Return a deployment for an install by id.
      operationId: GetInstallDeploy
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: deploy ID
        in: path
        name: deploy_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallDeploy'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install deploy
      tags:
      - installs
  /v1/installs/{install_id}/deprovision:
    post:
      description: Deprovision an install sandbox.
      operationId: DeprovisionInstall
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: deprovision an install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.DeprovisionInstallRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/deprovision-sandbox:
    post:
      description: Deprovision a sandbox environment for an install.
      operationId: DeprovisionInstallSandbox
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.WorkflowResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: deprovision an install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.DeprovisionInstallSandboxRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/drifted-objects:
    get:
      description: Returns all drifted objects for an install.
      operationId: GetDriftedObjects
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.DriftedObject'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get drifted objects for an install
      tags:
      - installs
  /v1/installs/{install_id}/events:
    get:
      description: '# Get Install Events


        Return an event stream for an install.'
      operationId: GetInstallEvents
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: offset of results to return
        in: query
        name: offset
        schema:
          type: integer
          default: 0
      - description: limit of results to return
        in: query
        name: limit
        schema:
          type: integer
          default: 10
      - description: page number of results to return
        in: query
        name: page
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/app.InstallEvent'
                type: array
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get events for an install
      tags:
      - installs
  /v1/installs/{install_id}/events/{event_id}:
    get:
      description: Get a single install event.
      operationId: GetInstallEvent
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      - description: event ID
        in: path
        name: event_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.InstallEvent'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: get an install event
      tags:
      - installs
  /v1/installs/{install_id}/forget:
    post:
      description: 'Forget an install that has been deleted outside of nuon.


        This should only be used in cases where an install was broken in an unordinary way and needs to be manually deleted so the parent resources can be deleted.'
      operationId: ForgetInstall
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/app.EmptyResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: forget an install
      tags:
      - installs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service.ForgetInstallRequest'
        description: Input
        required: true
  /v1/installs/{install_id}/generate-cli-install-config:
    get:
      description: Generate CLI configuration for an install.
      operationId: GenerateCLIInstallConfig
      parameters:
      - description: install ID
        in: path
        name: install_id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '401':
          description: Unauthorized
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '403':
          description: Forbidden
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '404':
          description: Not Found
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
        '500':
          description: Internal Server Error
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/stderr.ErrResponse'
      security:
      - APIKey: []
      - OrgID: []
      summary: generate an install config to be used with CLI
[...]
